<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.hungrybird" >

    <!-- Connection to external db or any network connections -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Image storage and camera access along with any app data pushes -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HungryBirdApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3dnsLJsF48DO-Rdy0Z4G5LUvQk8AzBRA"/>

        <activity android:name=".common.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".consumer.activities.GalleryActivity"
            android:windowSoftInputMode="adjustPan"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="78a804884e7bf0493795a51b3edd6a5248577ddf" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".chef.activities.ChefLandingActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".consumer.activities.SearchActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>