<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.hungrybird">

    <!-- Connection to external db or any network connections -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Image storage and camera access along with any app data pushes -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity android:name=".GalleryActivity">

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="78a804884e7bf0493795a51b3edd6a5248577ddf" />

    </application>

</manifest>